body {
  margin: 0;
}
.navbar{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100rem;
  gap: 1rem;
  background-color: black;
}

.navbar > input {
  width: 86%;
  margin-left: 6%;
  border-radius: 4px;
  background-color: #3c3a51;
  border: none;
  height: 2rem;
}

.navlinks {
  width: 90%;
  height: 3rem;
  text-align: left;
  margin-left: 6%;
  color: white;
  background-color: black;
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.navlinks:hover {
  background-color: #3D3C47;
  color: white;
  border:  none;
  border-radius: 5px;
}
h1 {
  font-family: Helvetica, sans-serif;
  color: white;
  margin-left: 15%;
  cursor: pointer;
}

h1 > span {
  color: grey;
}

hr {
  width: 100%;
  color: black;
  border: 1px solid black;
}

.signup-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.signup-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup-fields > input {
  background-color: #3c3a51;
  height: 3rem;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0rem 10rem;
}

.signup-fields > button {
  background-color: #3D3C47;
  padding: 1rem 0rem;
  border-radius: 4px;
  border: 1px solid black;
  margin: 0rem 10rem;
  font-weight: bold;
  color: white;
}

.signup-fields > button:hover {
  background-color: #7a7a7e;
  cursor: pointer;
}

.signup-signin {
  text-align: center;
  color: white;
  font-family: Helvetica, sans-serif;
}

.signup-title {
  text-align: center;
  margin-right: 14%;
  
}

.signin-title {
  text-align: center;
  margin-right: 14%;
}

.signin-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signin-fields > input {
  background-color: #3c3a51;
  height: 3rem;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0rem 10rem;
}

.signin-fields > button {
  background-color: #3D3C47;
  padding: 1rem 0rem;
  border-radius: 4px;
  border: 1px solid black;
  font-weight: bold;
  color: white;
  margin: 0rem 10rem;
}

.signin-fields > button:hover {
  background-color: #7a7a7e;
  cursor: pointer;
}

.logout-profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.admin-container {
  display: flex;
  flex-direction: column;
}

.admin-container1 {
  display: flex;
  justify-content: space-between;
  border: 4px solid #3D3C47;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
}

.admin-container1 > p {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 1rem;
}

.admin-container1 > p:hover {
  background-color: #3D3C47;
  border-radius: 1rem;
}

.admin-container1 > a {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: white;
  margin: 0rem;
  height: 100%;
  padding: 1rem;
}

.admin-container1 > a:hover {
  background-color: #3D3C47;
  border-radius: 1rem;
}

.myevents-title {
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-color: #3D3C47;
  color: white;
  padding: 1rem;
  border: 4px solid black;
  border-radius: 1.5rem;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.myevents-title:hover {
  background-color: #3c3a51;
  cursor: pointer;
}

.myEvents {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.admin-hr {
  text-align: center;
  width: 80%;
  margin-left: 8%;
  border: 1px solid white;
}

p {
  margin: 0rem;
}

.navbar-hr {
  border: 1px solid white;
  width: 75%;
}

.nav-icon {
  height: 30px;
  width: 30px;
}

.main-content {
  background-color: #0F0E16;
}

.login-form {
  background-color: #0F0E16;
}

.signup-form {
  background-color: #0F0E16;
}

.selected {
  background-color: #3D3C47;
  border-radius: 1rem;
}

.form-venue {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 1rem;
  margin-top: 1rem;
}

.form-venue2 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form-venue2 > input{
  width: 100%;
}
.form-venue2 > select{
  width: 102%;
}
.venue-error {
  text-align: center;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}


a {
  text-decoration: none;
}

.form-venue > div> input {
  background-color: #3c3a51;
  border: 1px solid black;
  height: 2rem;
  border-radius: 4px;
  color: white;
}

.form-venue > input {
  background-color: #3c3a51;
  border: 1px solid black;
  height: 2rem;
  border-radius: 4px;
  color: white;
}

.form-venue > div >select {
  background-color: #3c3a51;
  border: 1px solid black;
  height: 2.3rem;
  border-radius: 4px;
  color: white;
}

.form-venue > button {
  background-color: #3D3C47;
  border: 1px solid black;
  height: 2rem;
  border-radius: 4px;
  color: white;
}

.form-venue > button:hover {
  background-color: #7a7a7e;
  cursor: pointer;
}

.createvenue-title {
  margin: 0 auto;
}

.main-content-title {
  border: 4px solid black;
  background-color: #3D3C47;
  border-radius: 1.5rem;
  text-align: center;
  height: 2.8rem;
  margin: 1% 15%;
}

.main-content-filter {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
  background-color: black;
  border-radius: 1.5rem;
  border: 4px solid #3D3C47;
  margin-bottom: 2rem;
}

.main-content-filter > h4:hover {
  background-color: #3D3C47;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1.2rem;
}

.main-content-filter > h4 {
  cursor: pointer;
  padding: 1rem;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

.all-venues {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 10%;
}

.all-venues-data {
  border: 2px solid white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.all-venues-container {
  margin: 0rem 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
}

.all-venues-data > p:last-of-type{
  margin-bottom: 1rem;
}

.not-available {
  margin-left: 35%;
}

.venues-flex {
  margin-bottom: 1rem;
}

.venue-cat {
  font-weight: bold;
}

.aboutus-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.aboutus-container > h2 {
  color: white;
  border: 4px solid #3D3C47;
  margin: 1rem 10%;
}

.aboutus-container > h4 {
  color: #3D3C47;
  margin: 1rem 10%;
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.8); 
  font-family: Arial, Helvetica, sans-serif;
  border: 4px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 999; 
  
}

.modal-container > p > span {
  font-weight: bold;
}

.modal-container {
  text-align: left;
  width: 100%;
}

.modal-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.modal-title > img {
  height: 20px;
  width: 20px;
  padding: 1rem;
  cursor: pointer;
}

.edit-image {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.4rem;
  margin-bottom: 8px;
  cursor: pointer;
}

.edit-image:hover {
  background-color: #3c3a51; 
}

.venue-edit-save-changes {
  background-color: #3c3a51;
  border: 2px solid black;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.venue-edit-save-changes:hover {
  background-color: #3D3C47;
}


.edit-input-container1 > input{
  background-color: #3c3a51;
  border: 1px solid black;
  color: white;
  width: 97.5%;
}

.edit-input-container1 > div >input{
  background-color: #3c3a51;
  border: 1px solid black;
  border-radius: 6px;
  color: white;
  width: 97.5%;
}
.edit-input-container1 > div >select{
  background-color: #3c3a51;
  border: 1px solid black;
  border-radius: 6px;
  color: white;
  width: 97.5%;
}

.edit-input-container1 > input:first-of-type{
  margin-bottom: 1rem;
  border-radius: 6px;
}

.edit-input-container1 > input:last-of-type{
  margin-top: 0;
  height: 6rem;
  border-radius: 6px;
  color: white;
}

.edit-input-container > select{
  width: 97.5%;
}

.edit-input-container {
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
}

.edit-input-container:last-of-type {
  margin-bottom: 0;
}

.edit-input-container {
  display: flex;
  gap: 1rem;
}

.edit-title-input {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.nameofvenue-edit {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.nameofvenue-edit:last-of-type {
  margin: 0.8rem 0rem;
}
#trash-icon {
  height: 30px;
  width: 30px;
  margin-bottom: 12%;
}

.modal-icons-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.traash-icon-container {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.4rem;
  margin-bottom: 8px;
  cursor: pointer;
}

.traash-icon-container:hover {
  background-color: #3c3a51;
}

.hide {
  display: none;
}

.delete-confirmation-modal {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.delete-confirmation-modal>p {
  text-align: center;
  margin-bottom: 1rem;
}

.delete-confirmation-btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.delete-confirmation-btn>button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #7a7a7e;
  border: 1px solid black;
}

.delete-confirmation-btn>button:hover {
  background-color: #3D3C47;
}

.detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.unhide {
  width: 100%;
}

.detail>p:first-of-type {
  font-weight: bold;
}

.detail>p:last-of-type {
  text-align: left;
}